server/MySoap3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"   
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://soap/soap_shop/server/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    name="CarShop"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <types>
        <xs:schema elementFormDefault="qualified"
            targetNamespace="http://soap/soap_shop/server/">
            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element name="id" type="xs:string"/>
                    <xs:element name="brand" type="xs:string"/>
                    <xs:element name="model" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="getAllCarsResponse">
                <xs:complexType name="getAllCars">
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="cars" type="Car"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCarByIdResponse">
                <xs:complexType name="getCarById">
                    <xs:sequence>
                        <xs:element name='brand' type="xs:string"/>
                        <xs:element name='model' type="xs:string"/>
                        <xs:element name='year' type="xs:int"/>
                        <xs:element name='engine' type="xs:int"/>
                        <xs:element name='color' type="xs:string"/>
                        <xs:element name='max_speed' type="xs:int"/>
                        <xs:element name='price' type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </types>

    <!-- Message proceduri getAllCars  -->
    <message name="getAllCarsRequest">
    </message>

    <message name="getAllCarsResponse">
        <part name="resAllCars" element="tns:getAllCarsResponse" />
    </message>

    <message name="getCarByIdRequest">
        <part name="id_car" type="xs:string" element="xs:string" />
    </message>

    <message name="getCarByIdResponse">
        <part name="resCarById" element="tns:getCarByIdResponse" />
    </message>



    <!--Privazka proceduri k message -->
    <portType name="CarShopPortType">
        <operation name="getAllCars">
            <!-- prinimaet  -->
            <input message="tns:getAllCarsRequest" />
            <!-- peredaet  -->
            <output message="tns:getAllCarsResponse" />
        </operation>

        <operation name="getCarById">
            <input message="tns:getCarByIdRequest" />
            <output message="tns:getCarByIdResponse" />
        </operation>
    </portType>

    <!--Format procedur web-servisa -->
    <binding name="CarShopBinding" type="tns:CarShopPortType">
        <soap:binding style='rpc' transport="http://schemas.xmlsoap.org/soap/http" />

        <!-- getAllCars -->
        <operation name="getAllCars">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <!--getCarById  -->
        <operation name="getCarById">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
    </binding> 

    <!-- Define service -->
    <service name="CarShop">
        <port name="CarShopPort" binding="tns:CarShopBinding">
            <soap:address location="http://soap/soap_shop/server/index.php" />
        </port>
    </service> 
</definitions>
